html, body {
  background-color: #A7A6DD;
}
#buttons {
  position: absolute;

  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.button {
  color: #000;
  width: 110px;
  height: 110px;
  text-align: center;
  font-size: 70px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  bottom: 60px;
  position: absolute;
}
#left {
  top: 160px;
  left: 20px;
}
#right {
  top: 161px;
  left: 140px;
  font-size: 60px;
}
#up {
  top: 100px;
  left: 80px;
}

#down {
  top: 206px;
  left: 80px;
}

/* Spinning, gradient circle; CSS only! */
#gamePad {
  width: 150px;
  height: 150px;
  
  position: absolute;
  left: 400px;
  top: 120px;
  border-radius: 50%;
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, rgb(69, 102, 130), rgb(0, 54, 255));
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}