html, body {
  background-image: url('../assets/img/background.png');
  overflow: hidden;
  background-repeat:no-repeat;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;  
  height: 100%;
}

.arrow {
  width: 50px;
  height: 50px;
}
#left {
  top: 85px;
  left: 15px;
}
#right {
  top: 85px;
  left: 150px;
}
#up {
  top: 20px;
  left: 85px;
}

#down {
  top: 160px;
  left: 85px;
}

.ui-page {
  height: 100%;
}

.arrow {
  position: absolute;
  height: 80px;
  width: 80px;
}
#outerGamePad {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#gamePadWheel {
  position: relative;
  max-width: 50%;
}

.hft-instruction {
  display: none;
}

.hft-portrait {
  display: none;
}

.ui-loader {
  display: none;
}